 <div id="sqs-social" class="social-links sqs-svg-icon--list" data-content-field="connected-accounts">
                                                                    <a href="https://twitter.com/CardboardEdison" target="_blank" class="sqs-svg-icon--wrapper twitter">
                                                                        <div>
                                                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                                                <use class="sqs-use--background" xlink:href="/universal/svg/social-accounts.svg#background"></use>
                                                                                <use class="sqs-use--icon" xlink:href="/universal/svg/social-accounts.svg#twitter-icon"></use>
                                                                                <use class="sqs-use--mask" xlink:href="/universal/svg/social-accounts.svg#twitter-mask"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </a>
                                                                    <a href="http://www.facebook.com/668149863321442" target="_blank" class="sqs-svg-icon--wrapper facebook">
                                                                        <div>
                                                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                                                <use class="sqs-use--background" xlink:href="/universal/svg/social-accounts.svg#background"></use>
                                                                                <use class="sqs-use--icon" xlink:href="/universal/svg/social-accounts.svg#facebook-icon"></use>
                                                                                <use class="sqs-use--mask" xlink:href="/universal/svg/social-accounts.svg#facebook-mask"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </a>
                                                                    <a href="http://instagram.com/cardboardedison" target="_blank" class="sqs-svg-icon--wrapper instagram">
                                                                        <div>
                                                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                                                <use class="sqs-use--background" xlink:href="/universal/svg/social-accounts.svg#background"></use>
                                                                                <use class="sqs-use--icon" xlink:href="/universal/svg/social-accounts.svg#instagram-icon"></use>
                                                                                <use class="sqs-use--mask" xlink:href="/universal/svg/social-accounts.svg#instagram-mask"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </a>
                                                                    <a href="http://cardboardedison.tumblr.com" target="_blank" class="sqs-svg-icon--wrapper tumblr">
                                                                        <div>
                                                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                                                <use class="sqs-use--background" xlink:href="/universal/svg/social-accounts.svg#background"></use>
                                                                                <use class="sqs-use--icon" xlink:href="/universal/svg/social-accounts.svg#tumblr-icon"></use>
                                                                                <use class="sqs-use--mask" xlink:href="/universal/svg/social-accounts.svg#tumblr-mask"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </a>
                                                                    <a href="mailto:cardboardedison@gmail.com" target="_blank" class="sqs-svg-icon--wrapper email">
                                                                        <div>
                                                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                                                <use class="sqs-use--background" xlink:href="/universal/svg/social-accounts.svg#background"></use>
                                                                                <use class="sqs-use--icon" xlink:href="/universal/svg/social-accounts.svg#email-icon"></use>
                                                                                <use class="sqs-use--mask" xlink:href="/universal/svg/social-accounts.svg#email-mask"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </a>
                                                                </div>